[submodule "lib/pico-math"]
	path = lib/pico-math
	url = https://github.com/zyoung71/pico-math
[submodule "lib/pico-event-hardware"]
	path = lib/pico-event-hardware
	url = https://github.com/zyoung71/pico-event-hardware
[submodule "lib/pico-util"]
	path = lib/pico-util
	url = https://github.com/zyoung71/pico-util
